@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url("/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url("/assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

body {
  font-family: poppins;
  background: #000;
}

* {
  box-sizing: border-box;
}

.bottom-inner-shadow:after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 100%;
  transition: 0.5s ease-out;
  height: 10%;
  z-index: 0;
  box-shadow: #000000 0 -10px 40px 30px;
}

.header-blog-card:after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 100%;
  transition: 0.5s ease-out;
  height: 10%;
  z-index: 0;
  box-shadow: #000000 0 -40px 70px 40px;
}

.header-blog-card:hover img {
  transform: scale(1.08);
}

.header-blog-card div.blog-subtitle {
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.4s;
}

.header-blog-card:hover div.blog-subtitle {
  opacity: 100%;
}

.header-blog-card span.blog-title {
  transform: translateY(30px);
  transition: 0.3s;
  transition-delay: 0.2s;
}

.header-blog-card div.blog-category {
  transform: translateY(25px);
  transition: 0.3s;
  transition-delay: 0.3s;
}

.header-blog-card:hover span.blog-title {
  transform: translateY(-2px);
}

.header-blog-card:hover div.blog-category {
  transform: translateY(-2px);
}
